.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px 5px 10px;
}

.header .form {
    float: left;
}

.header .default {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header .default:hover {
    /*background-color: #ddd;*/
    background-color: #00ff006e;
    color: black;
}

.header .default.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    display: flex;
}

.header input {
    border: none;
}

.language-icon {
    max-height: 16px;
    width: auto;
    margin: 0 5px;
}

@media screen and (max-width: 600px) {
    .header .default {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}