.loader {
    border: 16px solid #f3f3f3;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
    position: fixed;
    margin: 0 auto;
    left: 45%;
    z-index: 2;
    top: 43%;
    border-right: 16px solid #00f903;
    border-radius: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}