#sidebar {
    min-width: 100px;
    position: absolute;
    width: 20%;
    height: 80%;
    background: rgb(235, 235, 235);
    left: 0;
    transition: all 400ms linear;
}

#sidebar.active {
    left: -20%;
}

#sidebar ul {
    padding-left: 10px;
}

#sidebar ul li {
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);

}

#sidebar ul li .default {
    color: rgba(37, 37, 37, 0.9);
    font-size: 14pt;
    padding: 20px 0;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

#sidebar ul li a {
    display: block;
    text-decoration: none;
    margin: -15px 0;
}

#sidebar ul li input {
    border: none;
    margin: -18px 0;
    background: none;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 85%;
    top: 10px;
}

.activeToggle {

    margin-left: 25%;
    transition: all 400ms linear;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0;
}